body {
  background-color: #35363c;
  color: #fbfbfb;
  font-family: "space mono", monospace !important;
}
#root {
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  white-space: pre;
  font-size: 1em;
  justify-content: space-between;
  height: 90vh;
}
.App .wrap {
  overflow-x: scroll;
  max-width: 100%;
}
.App code {
  cursor: pointer;
  margin: 0;
  margin-top: 0;
  padding: 0;
  text-align: left;
  font-size: 2.5vw;
}
.App code:hover {
  color: #35b270;
}
h3 {
  font-size: 2.5em;
  margin: 1em;
  padding: 0;
  border: 0;
  color: #35b270;
}
button {
  border: 2px solid #35b270;
  padding: 10px 25px;
  font-family: 'space mono', monospace;
  font-weight: bold;
  font-size: 1em;
  color: #35b270;
  background: none;
}
button:hover {
  background-color: #35b270;
  color: #35363c;
}
button:active {
  background-color: #35b270;
  color: #35363c;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #000;
  font-family: "space mono", monospace;
  background: none;
  color: #eee;
}
input:focus {
  border-color: #35b270;
  outline: 0 none;
}

a {
  color: #35b270;
}